.wrapper {
  min-width: 364px;
  height: 78px;
 background: var(--white15);
  font-family: Rubik, sans-serif !important;
}

.title {
  display: flex !important;
  align-items: center;
  gap: 12px;
  font-weight: 500;
  font-size: 14px;
  color: var(--main-bg-color) !important;
}

.description {
  color: var(--main-color-accent) !important;
}