.TourPackageContainer {
 display: flex;
 flex-direction: column;
align-items: center;
justify-content: center;
padding: 100px 0;
background: var(--main-bg-tour);

}

.TourPackageLink {
 text-decoration: none;
}

.TourPackageSliders {
 display: flex;
 flex-direction: column;
 width: 416px;
 height: 568px;
 border-radius: 10px;
}

.TourPackagePhotos {
 display: flex;
 justify-content: space-between;
 align-items: start;
 width: 1320px;
 padding: 0 12px;
}

.TourPackagePhotosItem{
 padding: 15px;
 background: var(--local-image);
 background-size: cover;
 background-position: center;
 width: 416px;
 height: 288px;
 border: none;
 position: relative;
 overflow: hidden; /* 🔹 щоб обрізати зайве */
}

.TourPackagePhotosItem1Mask {
 position: absolute; /* 🔹 дозволяє вручну розмістити */
 top: 10px;           /* підкоригуй за потреби */
 left: -40px;         /* підкоригуй лівий зсув */
 display: flex;
 align-items: center;
 justify-content: center;
 width: 140px;
 height: 28px;
 background: var(--greenLable);
 font-size: 15px;
 font-weight: 500;
 color: var(--main-bg-color);
 transform: rotate(-45deg); /* використай transform замість rotate */
 z-index: 2;
}

.greenMask {
 display: flex;
 justify-content: start;
}

.TourPackageSlidersInfo {
 height: 280px;
 background: var(--main-bg-color);
}

.swiperTourPackageButtonBox {
 display: flex;
 justify-content: space-between;
 margin-top: 84px;
 align-items: center;
 width: 1320px;
}
