.TravelLocationContainer {
 display: flex;
 flex-direction: column;
align-items: center;
justify-content: center;
margin: 120px auto;

}

.TravelLocationLink {
 text-decoration: none;
}

.TravelLocationPhotos {
 display: flex;
 justify-content: space-between;
 align-items: start;
 width: 1320px;
 padding: 0 12px;

 .TravelLocationPhotosItem1:nth-child(2),
 .TravelLocationPhotosItem1:nth-child(4) {
  margin-top: 20px;
 }
}

.TravelLocationPhotosItem1 {
 display: flex;
 flex-direction: column;
 justify-content: space-between;
 padding: 15px;
 background: no-repeat  url("/assets/images/Sweden.png");
 width: 306px;
 height: 370px;
 border-radius: 10px;
}

.TravelLocationPhotosItem1Mask {
 display: flex;
 align-items: center;
 justify-content: center;
 width: 56px;
 height: 22px;
 border-radius: 3px;
 background: var(--mask-yellow);
 font-size: 12px;
 font-weight: 500;
}

.yellowMask {
 display: flex;
 justify-content: end;
}

.titleMask {
 display: flex;
 justify-content: start;
}

.TravelLocationPhotosItemTitleTop {
 font-weight: 500;
 font-size: 14px;
 color: var(--green-title);
}

.TravelLocationPhotosItemTitleBottom {
 font-size: 28px;
 font-weight: 500;
 color: var(--main-bg-color);
}