.ratingCircles {
  display: flex;
  max-width: calc(5 * 16px);
  width: var(--rating-width);
  height: 16px;
  mask-image: url('/assets/images/green-circle.svg');
  mask-repeat: repeat-x;
  mask-size: unset;
  mask-position: left;
  background: var(--rating-circle-color);
}
