.button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 34px;
  height: 48px;
  border-radius: 35px;
  background-color: var(--main-color-accent);
  color: var(--main-bg-color);
  border: none;
  font-weight: 600;
  font-size: 16px;
  line-height: 16px;
  letter-spacing: 0.48px;
  cursor: pointer;
  box-shadow: 0 6px 0 #4a9136; // тінь внизу, як на кнопці


  &--footer {
    border-radius: 5px;
    box-shadow: none;
  }

  &--slider {
    background-color: var(--mask-yellow);
    box-shadow: 0 6px 0 var(--shadow-yellow);
    color: var(--main-color);
  }

  &--tourSlider {
    border-radius: 5px;
    box-shadow: none;
    width: 138px;
    height: 42px;
    font-size: 14px;
    padding: 0 16px;
    font-weight: 500;
    line-height: 14px;
    display: flex;
    align-items: center;
  }

  &--bestTourGreen {
    width: 306px;
    height: 82px;
    border-radius: 10px;
    background-color: var(--mask-green10);
    box-shadow: none;
    color: var(--main-color);
    font-size: 17px;
    font-weight: 500;
    gap: 16px;
    display: flex;
    justify-content: start;
    text-align: left;
    letter-spacing: 0.34px;
    line-height: 22px;
  }

  &--bestTourYellow {
    width: 306px;
    height: 82px;
    border-radius: 10px;
    background-color: var(--mask-yellow10);
    box-shadow: none;
    color: var(--main-color);
    font-size: 17px;
    font-weight: 500;
    gap: 16px;
    display: flex;
    justify-content: start;
    text-align: left;
    letter-spacing: 0.34px;
    line-height: 22px;
  }

  &--bestTourVideo {
    background: none;
    border: none;
    box-shadow: none;
    color: var(--main-color);
    font-size: 16px;
    font-weight: 600;
    gap: 10px;
    display: flex;
    justify-content: start;
    text-align: left;
    letter-spacing: 0.34px;
    line-height: 22px;
    padding: 0;
  }

  &--bestTourExperience {
    box-shadow: none;
    border-radius: 10px;
    text-align: left;
    gap: 8px;
    width: 166px;
    height: 68px;
  }

  &--activeTourList {
    background: none;
    box-shadow: none;
    color: var(--main-color);
    font-family: var(--font-jost-mono), sans-serif;
    letter-spacing: 0.51px;
    line-height: 24px;
    font-weight: 500;
    gap: 8px;
    padding: 0;
    height: auto;
  }

  &--activeTourTab {
    border: var(--tab-bg);
    background: var(--main-bg-color);
    border-radius: 200px;
    box-shadow: none;
    color: var(--main-color);
    gap: 10px;
    width: 326px;
    height: 60px;
    justify-content: start;
    padding: 6px;
  }

  &--whoWeAreLabel {
    width: 416px;
    height: 172px;
    padding: 25px;
    border: var(--tab-bg);
    background: var(--main-bg-color);
    box-shadow: 0 0 20px -2px #00000014;
      gap: 10px;
   text-align: start;
    border-radius: 10px;
  }

  &--tourSelect {
    height: 36px;
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.48px;
  }
}



.iconRight {
  display: flex;
  align-items: center;
  margin-left: 7px;

}

.button--activeTourTab {
  background-color: var(--main-bg-color);
  color: var(--main-color);
  // інші стилі для неактивної вкладки

  &.active {
    background-color: var(--mask-yellow); // помаранчевий
    color: var(--main-bg-color);
  }
}

.button--active {
  background-color: var(--mask-yellow) !important;
  color: var(--main-bg-color) !important;
}
