.TravelGuideContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 120px auto;
}

.TravelGuideLink {
  text-decoration: none;
}

.TravelGuidePhotos {
  display: flex;
  justify-content: space-between;
  align-items: start;
  width: 1320px;
  padding: 0 12px;
}

.TravelGuideSlideItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  gap: 62px;
  padding: 40px 0;
  background: var(--local-image);
  background-size: cover;
  background-position: center;
  border: 1px solid var(--tab-bg);
  width: 304px;
  height: 402px;
  border-radius: 10px;
  background: no-repeat center / cover url("/assets/images/guide-card-bg.svg");
}

.TravelGuideSlideItemDescription {
  display: flex;
  flex-direction: column;
  background: var(--main-bg-color);
  padding: 25px;
  gap: 8px;
  width: 100%;
  align-items: center;
  justify-content: center;
  font-size: 25px;
  font-weight: 600;
  line-height: 27.5px;
}

.TravelGuideSlideItemDescriptionPosition {
  font-family: var(--font-jost-mono) sans-serif;
  font-weight: 400;
  font-size: 15px;
  line-height: 15px;
  color: var(--grey-text50);
}

.swiperTravelGuideButtonBox {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  align-items: center;
  width: 1320px;

}

.swiperArrowBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 162px;
}
