.sliderArrowWrapper {
  display: flex;
  align-items: center;
  gap: 10px;

  &--circle {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 1px solid var(--grey-text);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0;
  }
}

.arrow {
  mask-image: url('/assets/images/swiperButtonPrev.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background: var(--greenLabel);
  width: 14px;
  height: 9px;
  cursor: pointer;

  &--white {
    background: var(--main-bg-color);
  }

  &--white:hover {
    background: var(--grey-text);
  }

  &--sliderArrow {
    mask-image: url('/assets/images/sliderArrow.svg');
    mask-repeat: no-repeat;
    mask-size: contain;
    mask-position: center;
    background: var(--main-bg-color);
    width: 10px;
    height: 20px;
    cursor: pointer;
    transform: rotate(180deg);
  }
}

.arrowText {
  font-size: 14px;
  color: var(--main-color-accent);
  text-decoration: underline;
  text-underline-offset: 4px; // додає відступ між текстом і лінією
  cursor: pointer;
}

.title--white {
  color: var(--main-bg-color);
}

.title--white:hover {
  color: var(--grey-text);
}

.prev--PREV {
  order: 0; // стрілка зліва
}

.prev--NEXT {
  order: 1; // стрілка справа
  rotate: 180deg;
}


