.tripAdvisorBlock {
  display: flex;
  flex-direction: row;
  gap: 8px;
  cursor: pointer;
}

.icon {
  width: 46px;
  height: 45px;
}

.ratingBlock {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.ratingInfo {
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: var(--white);
}
