.FindTravelContainer {
position: relative;
  background: var(--footer-bg-color);
  width: 100%;
  height: 844px;
  padding: 160px 12px;
}

.FindTravelMask {
  position: absolute;
  left: 0;
  bottom: 0;
}

.FindTravelContent {
  width: 1320px;
  height: 524px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.FindTravelContentLeft {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 638px;
  height: 436px;
}

.FindTravelContentLeftDescription {
  font-size: 16px;
  line-height: 30.4px;
  letter-spacing: 0.51px;
  font-family: var(--font-jost-mono), sans-serif;
  color: var(--main-bg-color);
}

.FindTravelContentLeftCaption {
  font-size: 18px;
  line-height: 18px;
  color: var(--main-bg-color);
}

.FindTravelContentLeftLabels {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 30px;
}

.FindTravelRightContent {
  padding: 0 105px;
  width: 940px;
  height: 436px;
  position: absolute;
  right: 0;
}

.FindTravelSlidersText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid var(--grey-line10);
  border-right: 1px solid var(--grey-line10);
  border-bottom: 3px solid var(--grey-line10);
  border-left: 1px solid var(--grey-line10);
  background: var(--main-bg-color);
  padding: 55px 107px;
  border-radius: 8px;
  text-align: center;
  gap: 30px;
  font-size: 24px;
  line-height: 45.6px;
  letter-spacing: 0.54px;
  font-family: var(--font-jost-mono), sans-serif;
  width: 728px;
}

.triangleMask {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: -20px;
}

.planetMask {
  position: absolute;
  top: 0;
}

.quoteMask {
  position: absolute;
 bottom: 20px;
  right: 20px;

}

.FindTravelSlidersContent {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 22px;
}

.FindTravelSlidersCustomer {
  display: flex;
  align-items: center;
  gap: 16px;
}

.FindTravelSlidersCustomerName {
  font-weight: 600;
  font-size: 23px;
  line-height: 23px;
  color: var(--main-bg-color);
}

.FindTravelSlidersCustomerPosition {
  font-size: 16px;
  letter-spacing: 0.32px;
  color: var(--white50);
  font-family: var(--font-jost-mono), sans-serif;
}

.swiperTourSelectButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: end;
  height: 54px;
  border-top: 1px solid var(--white10);
  margin-top: 34px;
}

.FindTravelSliders {
  width: 940px;
}

.FindTravelRightContent {
  width: 940px;
}