.videoTourContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  height: 822px;
  //background: var(--main-color);
  margin-bottom: 166px;

}


.videoTourCard {
  width: 820px;
  height: 292px;
  border-radius: 30px 30px 0 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  bottom: -146px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--main-bg-color);
  box-shadow: 0 0 20px rgba(0 0 0 / 8%);
  padding: 0 50px;
  z-index: 2;
}

.videoTourCardLeft {
  display: flex;
  flex-direction: column;
  justify-content: start;
  text-align: start;
  padding-right: 86px;
  border-right: 1px solid var(--grey-border);
}

.videoTourCardMask {
  position: absolute;
  border-radius: 30px 30px 0 0;
  bottom: -146px;
  left: 50%;
  transform: translateX(-50%);
}

.videoTourCardRight {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.videoTourCarRightTitle {
  font-weight: 500;
  font-size: 18px;
  text-decoration: underline;
}

.videoTourCardRightTime {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 22px;
  width: 388px;
}

.videoTourCardRightTimeItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  font-size: 30px;
  font-weight: 600;
}

.videoTourCardRightTimeItemDescription {
  font-weight: 400;
  font-size: 15px;
  font-family: var(--font-jost-mono) sans-serif;
}

.videoTourSlide {
  width: 100%;
  height: 822px; // обов'язково! (як у батьківського блоку)
  position: relative;
  }

.videoTourSlide {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
   z-index: -1;
  }
}


.videoTourSlideItem {
  width: 100%;
  height: 100%; // обов'язково!
  position: relative;

}


.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.videoWrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; // Співвідношення 16:9

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0; // Замінює frameBorder
  }
}

.swiperVideoTourButtonBox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 100px;
   z-index: 5;
  position: absolute;
  bottom: 30px;
}

.swiperArrowBlock {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 162px;
}
