.bestTourContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 120px;
  position: relative;
  padding: 0 12px;
}

.planeMask {
  position: absolute;
  top: -40px;
  right: 0;
  transform: rotate(-10deg);
  width: 410px;
  height: 204px;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url('/assets/images/planeMask.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url('/assets/images/planeMask.svg');
  background: var(--mask-green);
  z-index: 1;
}

.planetLeft {
  position: absolute;
  top: -122px;
  left: -300px;
  width: 782px;
  height: 1096px;
  z-index: -1;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url('/assets/images/planet-left.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url('/assets/images/planet-left.svg');
  background: linear-gradient(180deg, var(--mask-green10) -150%, var(--mask-green10) 100%);
}

.planetRight {
  position: absolute;
  top: -122px;
  right: -368px;
  width: 1246px;
  height: 934px;
  z-index: -1;
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url('/assets/images/planet-right.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url('/assets/images/planet-right.svg');
  background: linear-gradient(180deg, var(--mask-green10) -150%, var(--mask-green10) 100%);
}

.bestTourContent {
  display: flex;
  justify-content: space-between;
  padding: 12px 0;
  width: 100%;
}

.bestTourContentLeft {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: start;
}

.bestTourContentLeftText {
  font-family: var(--font-jost-mono), sans-serif;
  color: var(--grey-text);
  margin-top: -10px;
  line-height: 32px;
  letter-spacing: 0.51px;
}

.bestTourContentLeftLabel {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
  margin-top: 30px;
}

.bestTourContentLeftLink {
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 46px;
  margin-top: 52px;
}

.bestTourContentRight {
  position: relative;
}

.bestTourContentRightLabel {
  position: absolute;
  right: 0;
  bottom: 0;
}

.bestTourContentRightMask {
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-image: url('/assets/images/planet-right.svg');
  -webkit-mask-repeat: no-repeat;
  -webkit-mask-size: contain;
  -webkit-mask-image: url('/assets/images/planet-right.svg');
}

.buttonNumber {
  font-weight: 700;
  font-size: 35px;
  color: var(--main-bg-color);
}

.bestTourBottom {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 136px;
  width: 100%;
  border-top: 1px solid var(--grey-border);
  border-bottom: 1px solid var(--grey-border);
  margin-top: 90px;

}

.bestTourBottomVertical {
  width: 41px;
  transform: rotate(90deg);
  background-color: var(--grey-line);
}

.buttonTextSmall {
  color: var(--grey);
  font-size: 16px;
  font-family: var(--font-jost-mono), sans-serif;
}

.bestTourBottomCaption {
display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  height: 24px;
  width: 1320px;
  gap: 10px;
}

.bestTourBottomCaptionTitle {
  font-weight: 600;
  font-size: 18px;
  color: var(--main-color);
}
.bestTourRating {
  width: 86px;
}

.ratingNumber {
  font-weight: 600;
}

.ratingReviewsNumber {
  font-weight: 600;
  text-decoration: underline ;
  text-underline-offset: 4px;
}

.bestTourRatingInfo {
font-family: var(--font-jost-mono), sans-serif;
  font-size: 15px;
  line-height: 20px;
  color: var(--grey-text);
  letter-spacing: normal;
}

.bestTourAdvisorBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2px;
}

.bestTourAdvisorBlockImage {
  width: 110px;
  height: 20px;
  mask-image: url('/assets/images/trip-advisor-logo.svg');
  mask-repeat: no-repeat;
  mask-size: contain;
  mask-position: center;
  background-color: black;
}

.bestTourGreenButton {
  width: 306px;
  height: 82px;
  border-radius: 10px;
  background-color: var(--mask-green10);
  box-shadow: none;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 500;
  gap: 16px;
  display: flex;
  justify-content: start;
  text-align: left;
  letter-spacing: 0.34px;
  line-height: 22px;
}

.bestTourYellowButton {
  width: 306px;
  height: 82px;
  border-radius: 10px;
  background-color: var(--mask-yellow10);
  box-shadow: none;
  color: var(--main-color);
  font-size: 17px;
  font-weight: 500;
  gap: 16px;
  display: flex;
  justify-content: start;
  text-align: left;
  letter-spacing: 0.34px;
  line-height: 22px;
}

.bestTourVideoButton {
  background: none;
  border: none;
  box-shadow: none;
  color: var(--main-color);
  font-size: 16px;
  font-weight: 600;
  gap: 10px;
  display: flex;
  justify-content: start;
  text-align: left;
  letter-spacing: 0.34px;
  line-height: 22px;
  padding: 0;
}

.bestTourExperienceButton {
  box-shadow: none;
  border-radius: 10px;
  text-align: left;
  gap: 8px;
  width: 166px;
  height: 68px;
}