:root {
  --content-max-width: 1320px;

  // base colors
  --main-bg-color: #fff;
  --main-color: #100c08; // rgba(16 12 8 / 100%)

  // UI background & text)
  --main-color40: rgba(16 12 8 / 40%);
  --main-color50: rgba(16 12 8 / 50%);
  --grey-text: rgb(120 120 120);
  --grey-text50: rgba(16 12 8 / 50%);
  --grey-text10: rgba(16 12 8 / 10%);
  --grey-text20: rgba(34 34 34 /20%);
  --grey-line10: rgba(34 34 34 /10%);
  --grey-card-text: #888;
  --footer-hover-menu: rgba(117 174 232 / 40%);
  --blur-color: #100c0866;
  --grey: #787878;
  --blue-bg: #202f59;

  // visual effects
  --phone-bg: #152f0066;
  --top-strip-bg-color: #222;
  --newsletter-bg: #f9f4f0;
  --footer-bg-color: #1d231f;
  --separation-line-color: #fff3;
  --separation2-line-color: rgb(255 255 255 / 10%);
  --rating-circle-color: #00aa6c;
  --box-shadow-8: rgba(0 0 0 / 8%);
  --box-shadow-14: rgba(0 0 0 / 14%);
  --blue-gradient: linear-gradient(to right, rgba(76 124 237 / 10%), rgba(76 124 237 / 0));
  --line: rgba(34 34 34 / 20%);
  --grey-line: rgba(19 20 26 / 16%);
  --grey-border: rgba(16 12 8 / 10%);
  --active-bg: rgba(255 252 234);
  --tab-bg: rgba(238 238 238 / 60%);
  --contact-line: #eeeeee;
  --label-bg-2: rgba(51, 49, 34, 1);
  --label-bg-1: rgba(36, 49, 35, 1);

  // green variants
  --main-color-accent: #63ab45;
  --mask-green: rgba(99 171 69 / 40%);
  --mask-green10: rgba(99 171 69 / 10%);
  --menu-item-select: rgb(99 171 69 / 90%);
  --green-title: rgb(99 171 69);
  --greenLabel: rgba(0 128 0);
  --green-gradient0: rgba(21 47 0 / 0) 0%;
  --green-gradient56: rgba(21 47 0 / 0.6) 56%;

  // yellow variants
  --mask-yellow10: rgba(251 176 59 / 10%);
  --mask-yellow: rgb(251 176 59); //#FBB03B
  --mask-yellow30: rgba(251, 176, 59, 30%);
  --shadow-yellow: #a67c3b;
  --rating-image: rgba(255 194 0 / 10%);
  --yellowLabel: rgba(251 176 59 10%);

  // white
  --white10: rgb(255 255 255 / 10%);
  --white15: rgb(255 255 255 / 15%);
  --white20: rgb(255 255 255 / 20%);
  --white40: rgb(255 255 255 / 40%);
  --white50: rgb(255 255 255 / 50%);
  --white60: rgb(255 255 255 / 60%);
  --white80: rgb(255 255 255 / 80%);

  // warning, success, error
  --email-error: red;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-family: var(--font-rubik-sans), sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 17px;
  font-weight: 400;
  line-height: normal;
  background-color: var(--main-bg-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.content-width {
  width: 100%;
  max-width: var(--content-max-width);
  margin: 0 auto;
}

footer {
  font-family: var(--font-jost-mono), sans-serif;
}
