.titleLink {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 42px;
  width: 174px;
  mask-image: url('/assets/images/title-bg.svg');
  mask-repeat: no-repeat;
  mask-size: unset;
  mask-position: left;
  background: var(--mask-green);
  text-align: center;
}

.mask--Package {
  background: var(--mask-yellow30);
}

.titleLinkButton {
  font-family: var(--font-satisfy-mono), sans-serif;
  letter-spacing: 0.5px;
  color: var(--main-color-accent);
  cursor: pointer;
}

.title--Package {
  color: var(--mask-yellow);
}

.mask--tourSelect {
  background: none;
  height: 35px;
}

.title--tourSelect {
  color: var(--main-bg-color);
}

.mask--videoTour {
  background: none;
  height: 35px;
  justify-content: start;
}

.title--videoTour {
  color: var(--mask-yellow);
  font-weight: 400;
  font-size: 20px;
}